<div id="<%= dom_id word %>">
  <p>
    <strong>Word:</strong>
    <%= word.word %>
  </p>

  <p>
    <strong>Meaning:</strong>
    <%= word.meaning %>
  </p>
  
  <p>
    <strong>favourite_word(yes/no):</strong>
    <%= word.favourite %>
  </p>

  

</div>
